services:
  backend:
    build:
      context: ../backend
      dockerfile: ops/Dockerfile
    container_name: filmy-backend
    restart: always
    ports:
      - "8100:8000"
    env_file:
      - ../backend/.env.prod
    depends_on:
      - postgres
      - qdrant
    networks:
      - filmy-network

  frontend:
    build:
      context: ../frontend
      dockerfile: ops/Dockerfile
    container_name: filmy-frontend
    restart: always
    ports:
      - "8101:8001"
    env_file:
      - ../frontend/.env
    depends_on:
      - backend
    networks:
      - filmy-network

  qdrant:
    image: qdrant/qdrant:latest
    container_name: filmy-qdrant
    restart: always
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - qdrant_data:/qdrant/storage
    networks:
      - filmy-network

  postgres:
    image: postgres:17
    container_name: filmy-postgres
    restart: always
    env_file:
      - ../backend/.env.prod
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    networks:
      - filmy-network

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: filmy-pgadmin
    restart: always
    env_file:
      - ../backend/.env.prod
    ports:
      - "5050:80"
    depends_on:
      - postgres
    networks:
      - filmy-network
    volumes:
      - pgadmin_data:/var/lib/pgadmin

  minio:
    image: minio/minio:latest
    container_name: filmy-minio
    restart: always
    command: server /data --console-address ":9001"
    env_file:
      - ../backend/.env.prod
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    networks:
      - filmy-network

  mlflow:
    build:
      context: .
      dockerfile: Dockerfile.mlflow
    container_name: filmy-mlflow
    restart: always
    depends_on:
      - postgres
      - minio
    env_file:
      - ../backend/.env.prod
    environment:
      MLFLOW_SERVER_ALLOWED_HOSTS: "*"
    command: >
      mlflow server
        --backend-store-uri postgresql://filmy:filmy@postgres:5432/mlflow_db
        --default-artifact-root s3://mlflow-artifacts/
        --host 0.0.0.0 --port 5000
    ports:
      - "5500:5000"
    networks:
      - filmy-network

  prefect-server:
    image: prefecthq/prefect:3-latest
    container_name: filmy-prefect-server
    restart: always
    env_file:
      - ../backend/.env.prod
    environment:
      PREFECT_API_URL: "http://localhost:4200/api"
    depends_on:
      - postgres
    command: prefect server start --host 0.0.0.0
    ports:
      - "4200:4200"
    networks:
      - filmy-network

  prefect-worker:
    build:
      context: ../backend
      dockerfile: ops/Dockerfile.worker
    container_name: filmy-prefect-worker
    restart: always
    env_file:
      - ../backend/.env.prod
    depends_on:
      - mlflow
      - minio
      - prefect-server
    networks:
      - filmy-network

volumes:
  postgres_data:
  pgadmin_data:
  minio_data:
  qdrant_data:


networks:
  filmy-network:
    name: filmy-network
